In [1]:
# dependencies
import pandas as pd

# load in file from resources
purchase_data = "resources/purchase_data.csv"

# read and display with pandas
purchase_df = pd.read_csv(purchase_data)
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [2]:
purchase_df.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

# Player Count

Display the total number of players

In [5]:
player_count = purchase_df["SN"].value_counts()
player_count

Lisosia93      5
Idastidru52    4
Iral74         4
Tyisur83       3
Iri67          3
              ..
Yasur35        1
Chanirra64     1
Iathem87       1
Assastnya25    1
Alaephos75     1
Name: SN, Length: 576, dtype: int64

In [6]:
# convert a dictionary into a dataframe
player_count_df = pd.DataFrame(
    {"Total Players": [576]
     }
)
player_count_df

   Total Players
0            576

# Purchasing Analysis (Total)

Run basic calculations to obtain number of unique items, average price, etc.

Create a summary data frame to hold the results

Optional: give the displayed data cleaner formatting

Display the summary data frame

In [7]:
unique_items = purchase_df["Item Name"].value_counts()
unique_items

Final Critic                                    13
Oathbreaker, Last Hope of the Breaking Storm    12
Extraction, Quickblade Of Trembling Hands        9
Persuasion                                       9
Fiery Glass Crusader                             9
                                                ..
Betrayer                                         1
Ghost Reaver, Longsword of Magic                 1
Exiled Mithril Longsword                         1
Endbringer                                       1
Alpha, Reach of Ending Hope                      1
Name: Item Name, Length: 179, dtype: int64

In [8]:
avg_purchase_price = purchase_df["Price"].mean()
avg_purchase_price

3.0509871794871795

In [9]:
sum_of_purchases = purchase_df["Purchase ID"].value_counts()
sum_of_purchases

779    1
243    1
265    1
264    1
263    1
      ..
517    1
516    1
515    1
514    1
0      1
Name: Purchase ID, Length: 780, dtype: int64

In [10]:
gross_purchases = purchase_df["Price"].sum()
gross_purchases

2379.77

In [11]:
purchasing_analysis_df = pd.DataFrame(
    {"Number of Unique Items": [len(unique_items)],
     "Average Purchase Price": [avg_purchase_price],
     "Total Number of Purchases": [len(sum_of_purchases)],
     "Total Revenue": [gross_purchases]
     }
)
purchasing_analysis_df

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,179,3.050987,780,2379.77