In [1]:
# dependencies
import pandas as pd

# load in file from resources
purchase_data = "resources/purchase_data.csv"

# read and display with pandas
purchase_df = pd.read_csv(purchase_data)
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

# Player Count

Display the total number of players

In [2]:
player_count = len(purchase_df["SN"].value_counts())
player_count_df = pd.DataFrame(
    {"Total Players": [player_count]
     }
)
player_count_df

   Total Players
0            576

# Purchasing Analysis (Total)

Run basic calculations to obtain number of unique items, average price, etc.

Create a summary data frame to hold the results

Optional: give the displayed data cleaner formatting

Display the summary data frame

In [5]:
purchasing_analysis_df = pd.DataFrame(
    {"Number of Unique Items": [len(purchase_df["Item Name"].value_counts())],
     "Average Purchase Price": [purchase_df["Price"].mean()],
     "Total Number of Purchases": [len(purchase_df["Purchase ID"].value_counts())],
     "Total Revenue": [purchase_df["Price"].sum()]
     }
)
purchasing_analysis_df

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,179,3.050987,780,2379.77

# Gender Demographics

Percentage and Count of Male Players

Percentage and Count of Female Players

Percentage and Count of Other / Non-Disclosed

In [15]:
gender_count = purchase_df.groupby(["Gender"])["SN"].nunique()

gender_percent = gender_count / player_count * 100

gender_demographics = pd.DataFrame({"Total Count": gender_count,
                                    "Percentage of Players": gender_percent.map("{:.2f}%".format)
                                   })

gender_demographics.sort_values('Total Count', ascending = False)

                       Total Count  Percentage of Players
Gender
Male                           484              84.027778
Female                          81              14.062500
Other / Non-Disclosed           11               1.909722

# Purchasing Analysis (Gender)

Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender

Create a summary data frame to hold the results

Optional: give the displayed data cleaner formatting

Display the summary data frame

In [16]:
gender_grouped = purchase_df.groupby(["Gender"])

purchase_count = gender_grouped["Purchase ID"].count()

avg_purchase_price = gender_grouped["Price"].mean()

total_purchase_value = gender_grouped["Price"].sum()

avg_total_by_gender = total_purchase_value / gender_count

# create a datafremae to hold ouput
purchasing_analysis_df = pd.DataFrame({"Purchase Count": purchase_count,
                                    "Average Purchase Price": avg_purchase_price,
                                    "Total Purchase Value": total_purchase_value,
                                    "Avg Total Purchase per Person": avg_total_by_gender
                                   })
purchasing_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

# Age Demographics

Establish bins for ages

Categorize the existing players using the age bins. Hint: use pd.cut()

Calculate the numbers and percentages by age group

Create a summary data frame to hold the results

Optional: round the percentage column to two decimal points

Display Age Demographics Table

In [17]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]

group_names = ["< 10", "10 - 14", "15 - 19", "20 - 24", "25 - 29", "30 - 34", "35 - 39", "40+"]

purchase_df["Age Groups"] = pd.cut(purchase_df["Age"], bins, labels = group_names, include_lowest = True)

age_by_players = purchase_df.groupby(["Age Groups"])["SN"].nunique()

age_grouped = purchase_df.groupby(["Age Groups"])

#total_count = age_by_players

percentage_of_players = age_by_players / player_count * 100

age_groups = pd.DataFrame({"Total Count": age_by_players,
                           "Percentage of Players": percentage_of_players
                          })
age_groups

            Total Count  Percentage of Players
Age Groups
< 10                 17               2.951389
10 - 14              22               3.819444
15 - 19             107              18.576389
20 - 24             258              44.791667
25 - 29              77              13.368056
30 - 34              52               9.027778
35 - 39              31               5.381944
40+                  12               2.083333

# Purchasing Analysis (Age)

Bin the purchase_data data frame by age

Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below

Create a summary data frame to hold the results

Optional: give the displayed data cleaner formatting

Display the summary data frame

In [18]:
age_purchase_count = age_grouped["Purchase ID"].count()

age_avg_purchase_price = age_grouped["Price"].mean()

age_total_purchase_value = age_grouped["Price"].sum()

avg_total_by_age = age_total_purchase_value / age_purchase_count

# create a datafremae to hold ouput
pa_age_df = pd.DataFrame({"Purchase Count": age_purchase_count,
                          "Average Purchase Price": age_avg_purchase_price,
                          "Total Purchase Value": age_total_purchase_value,
                          "Avg Total Purchase per Person": avg_total_by_age
                         })
pa_age_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Groups,,,,
< 10,23,3.353478,77.13,3.353478
10 - 14,28,2.956429,82.78,2.956429
15 - 19,136,3.035956,412.89,3.035956
20 - 24,365,3.052219,1114.06,3.052219
25 - 29,101,2.900990,293.00,2.900990
30 - 34,73,2.931507,214.00,2.931507
35 - 39,41,3.601707,147.67,3.601707
40+,13,2.941538,38.24,2.941538

# Top Spenders

Run basic calculations to obtain the results in the table below

Create a summary data frame to hold the results

Sort the total purchase value column in descending order

Optional: give the displayed data cleaner formatting

Display a preview of the summary data frame

In [19]:
top_spenders = purchase_df.groupby(["SN"])

ts_purchase_count = top_spenders["Purchase ID"].count()

ts_avg_purchase_price = top_spenders["Price"].mean()

ts_total_purchase = top_spenders["Price"].sum()

# create a datafremae to hold ouput
spenders_df = pd.DataFrame({"Purchase Count": ts_purchase_count,
                          "Average Purchase Price": ts_avg_purchase_price,
                          "Total Purchase Value": ts_total_purchase
                         })

top_spenders_df = spenders_df.sort_values("Purchase Count", ascending = False)
top_spenders_df.head()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Iral74                    4                3.405000                 13.62
Idastidru52               4                3.862500                 15.45
Asur53                    3                2.480000                  7.44
Inguron55                 3                3.703333                 11.11

# Most Popular Items

Retrieve the Item ID, Item Name, and Item Price columns

Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value

Create a summary data frame to hold the results

Sort the purchase count column in descending order

Optional: give the displayed data cleaner formatting
    
Display a preview of the summary data frame

In [20]:
items_grouped = purchase_df.groupby(["Item ID","Item Name"])

pi_purchase_count = items_grouped["Purchase ID"].count()

item_price = items_grouped["Price"].mean()

pi_total_purchase_value = items_grouped["Price"].sum()

# create a dataframe to hold ouput
items_df = pd.DataFrame({"Purchase Count": pi_purchase_count,
                                 "Item Price": item_price,
                                 "Total Purchase Value": pi_total_purchase_value,
                                })

popular_items_df = items_df.sort_values("Purchase Count", ascending = False)
popular_items_df.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
145,Fiery Glass Crusader,9,4.580000,41.22
132,Persuasion,9,3.221111,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,3.530000,31.77

# Most Profitable Items

Sort the above table by total purchase value in descending order

Optional: give the displayed data cleaner formatting

Display a preview of the data frame

In [21]:
most_profitable_df = items_df.sort_values("Total Purchase Value", ascending = False)
most_profitable_df.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
82,Nirvana,9,4.900000,44.10
145,Fiery Glass Crusader,9,4.580000,41.22
103,Singed Scalpel,8,4.350000,34.80