In [1]:
# dependencies
import pandas as pd

# load in file from resources
purchase_data = "resources/purchase_data.csv"

# read and display with pandas
purchase_df = pd.read_csv(purchase_data)
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [2]:
purchase_df.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

# Player Count

Display the total number of players

In [14]:
# convert a dictionary into a dataframe
player_count = len(purchase_df["SN"].value_counts())
player_count_df = pd.DataFrame(
    {"Total Players": [player_count]
     }
)
player_count_df

   Total Players
0            576

# Purchasing Analysis (Total)

Run basic calculations to obtain number of unique items, average price, etc.

Create a summary data frame to hold the results

Optional: give the displayed data cleaner formatting

Display the summary data frame

In [13]:
purchasing_analysis_df = pd.DataFrame(
    {"Number of Unique Items": [len(purchase_df["Item Name"].value_counts())],
     "Average Purchase Price": [purchase_df["Price"].mean()],
     "Total Number of Purchases": [len(purchase_df["Purchase ID"].value_counts())],
     "Total Revenue": [purchase_df["Price"].sum()]
     }
)
purchasing_analysis_df

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,179,3.050987,780,2379.77

# Gender Demographics

Percentage and Count of Male Players

Percentage and Count of Female Players

Percentage and Count of Other / Non-Disclosed

In [15]:
# calculate Male,Female and Other Gender count by Grouing all same Gender values together.
gender_count = purchase_df.groupby(["Gender"])["SN"].nunique()

# calculate Percentage of players by dividing Players by gender by Total no of players
gender_percent = gender_count / player_count * 100

# create a datafremae to hold ouput
gender_demographics = pd.DataFrame({"Total Count": gender_count,
                                    "Percentage of Players": gender_percent})

# sort column To arrange them in Descending order. 
gender_demographics.sort_values('Total Count', ascending = False)

                       Total Count  Percentage of Players
Gender
Male                           484              84.027778
Female                          81              14.062500
Other / Non-Disclosed           11               1.909722

# Purchasing Analysis (Gender)

Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender

Create a summary data frame to hold the results

Optional: give the displayed data cleaner formatting

Display the summary data frame